<p id="notice"><%= notice %></p>

<h1>Listing Dress Styles</h1>

<table>
  <thead>
    <tr>
      <th>Style</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dress_styles.each do |dress_style| %>
      <tr>
        <td><%= dress_style.style %></td>
        <td><%= link_to 'Show', dress_style %></td>
        <td><%= link_to 'Edit', edit_dress_style_path(dress_style) %></td>
        <td><%= link_to 'Destroy', dress_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dress style', new_dress_style_path %>
