<%= form_for(@dress) do |f| %>
  <% if @dress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dress.errors.count, "error") %> prohibited this dress from being saved:</h2>

      <ul>
      <% @dress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :colour %><br>
    <%= f.text_field :colour %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :dress_style_id %><br>
    <%= f.collection_select :dress_style_id, DressStyle.all, :id, :style %>
  </div>
  <div class="field">
    <%= f.label :available %><br>
    <%= f.check_box :available %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
